#cookie-info-top {
	position: fixed;
	z-index:200000;
	top:30px;
	width: 100%;
}

#cookie-info-bottom {
	position: fixed;
	z-index:200000;
	bottom:0px;
	width: 100%;
	background-color: #F8F8F8;
	border-top: 1px solid #cccccc;
}

#cookie-info-message .cookie-info-close {
	width:24px;
	float:right;
	text-align:right;
}

#cookie-info-message .cookie-info-close a {
	text-decoration:none;
	font-size:18px;
	cursor: pointer;
	font-weight:bold;
	color:#666666;
}

#cookie-info-message a {
	color:#666666;
}

#cookie-info-top #cookie-info-message {
	text-align: left;
	background-color: #F8F8F8;
	border: 1px solid #cccccc;
	width: 600px;
	margin:0 auto;
	padding:10px;
	color:#454545;
}

#cookie-info-bottom #cookie-info-message {
	text-align: left;
	width: 900px;
	margin:0 auto;
	padding:10px;
	color:#454545;
}

#cookie-info-message h1 {
	clear:none;
	font-size:18px;
	margin:0 0 10px 0;
	color:#454545;
}

#cookie-info-message p {
	line-height:16px;
	margin: 5px 0;
	padding-right:15px;
}
