<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Jak Zdobyć Dziewczynę W 12 Randek i Utrzymać Związek:</title>
	<atom:link href="http://www.jak-zdobyc-dziewczyne.pl/witaj/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.jak-zdobyc-dziewczyne.pl</link>
	<description>Jak Poderwac Dziewczyne, Jak Zdobyć Dziewczyne I Utrzymać Związek Z Kobietą</description>
	<lastBuildDate>Fri, 21 Feb 2020 10:55:57 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.1</generator>
	<item>
		<title>By: Paweł Grzywocz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-93414</link>
		<dc:creator>Paweł Grzywocz</dc:creator>
		<pubDate>Thu, 09 Nov 2017 14:49:03 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-93414</guid>
		<description>Możesz na następnym spotkaniu zrobić przerwę i nie próbować, i dopiero na kolejnym spróbować drugi i ostatni raz, czyli na 5tym. Jeśli znowu się odsunie, to albo nie jest zainteresowana albo okazuje dosłownie wszystkie pozostałe oznaki zainteresowania, ale jest tak konserwatywna, że możesz potem znowu na kolejnym spróbować nawet 3 raz. Zazwyczaj 2 odsunięcia świadczą o tym, że ona nie jest zainteresowana.</description>
		<content:encoded><![CDATA[<p>Możesz na następnym spotkaniu zrobić przerwę i nie próbować, i dopiero na kolejnym spróbować drugi i ostatni raz, czyli na 5tym. Jeśli znowu się odsunie, to albo nie jest zainteresowana albo okazuje dosłownie wszystkie pozostałe oznaki zainteresowania, ale jest tak konserwatywna, że możesz potem znowu na kolejnym spróbować nawet 3 raz. Zazwyczaj 2 odsunięcia świadczą o tym, że ona nie jest zainteresowana.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Tomasz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-93406</link>
		<dc:creator>Tomasz</dc:creator>
		<pubDate>Thu, 09 Nov 2017 01:56:08 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-93406</guid>
		<description>Pawle, poznałem pewną kobietę. Tak jak radzisz zadzwoniłem po ok. tygodniu umówić spotkanie. Spotkaliśmy się raz, za tydzień drugi raz, za następny tydzień 3 raz. Na trzecim spotkaniu żegnając się chciałem ją pocałować i w sumie to zrobiłem, ale ona po sekundzie przerwała pocałunek, mówiąc, że to dla niej za wcześnie. 

Co radzisz? Olać? Jeśli nie, to kiedy spróbować kolejny raz? Na 4,5,6 spotkaniu? Czy może mam czekać aż ona mnie pocałuje?</description>
		<content:encoded><![CDATA[<p>Pawle, poznałem pewną kobietę. Tak jak radzisz zadzwoniłem po ok. tygodniu umówić spotkanie. Spotkaliśmy się raz, za tydzień drugi raz, za następny tydzień 3 raz. Na trzecim spotkaniu żegnając się chciałem ją pocałować i w sumie to zrobiłem, ale ona po sekundzie przerwała pocałunek, mówiąc, że to dla niej za wcześnie. </p>
<p>Co radzisz? Olać? Jeśli nie, to kiedy spróbować kolejny raz? Na 4,5,6 spotkaniu? Czy może mam czekać aż ona mnie pocałuje?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Paweł Grzywocz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-87456</link>
		<dc:creator>Paweł Grzywocz</dc:creator>
		<pubDate>Fri, 28 Jul 2017 05:42:58 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-87456</guid>
		<description>Gdy dziewczyna mówi, że to koniec to znaczy, że to koniec i potem już nie będzie chciała się nawet spotykać oraz najwyżej będzie biernie tkwić w relacji z nudów, żeby być z kimkolwiek. Jak w artykułach: &quot;Szansa, żeby odzyskać byłą dziewczyną - pogarda i niechęć&quot;, &quot;Dziewczyna potrzebuje czasu&quot;, &quot;Dziewczyna nie wie, czego chce&quot;, &quot;Brak chemii na początku związku&quot;, &quot;Jak sprawdzić czy dziewczyna coś do Ciebie czuje w 3 krokach&quot;. Wyszukaj tytuły w google. W skrócie, gdy dziewczyna nie chce już przyjść na spotkaniu lub odsuwa się przy próbie pocałunku to kaplica. A nawet gdyby robiła to z nudów, to nie wytrzyma 10 spotkań stabilnego zachowania, a co dopiero kolejne 6 miesięcy stabilnego zainteresowania, które jest wymagane, aby mieć pewność, że dziewczyna nie udaje i nie zabija z nami czasu.</description>
		<content:encoded><![CDATA[<p>Gdy dziewczyna mówi, że to koniec to znaczy, że to koniec i potem już nie będzie chciała się nawet spotykać oraz najwyżej będzie biernie tkwić w relacji z nudów, żeby być z kimkolwiek. Jak w artykułach: &#8220;Szansa, żeby odzyskać byłą dziewczyną &#8211; pogarda i niechęć&#8221;, &#8220;Dziewczyna potrzebuje czasu&#8221;, &#8220;Dziewczyna nie wie, czego chce&#8221;, &#8220;Brak chemii na początku związku&#8221;, &#8220;Jak sprawdzić czy dziewczyna coś do Ciebie czuje w 3 krokach&#8221;. Wyszukaj tytuły w google. W skrócie, gdy dziewczyna nie chce już przyjść na spotkaniu lub odsuwa się przy próbie pocałunku to kaplica. A nawet gdyby robiła to z nudów, to nie wytrzyma 10 spotkań stabilnego zachowania, a co dopiero kolejne 6 miesięcy stabilnego zainteresowania, które jest wymagane, aby mieć pewność, że dziewczyna nie udaje i nie zabija z nami czasu.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Tomasz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-87447</link>
		<dc:creator>Tomasz</dc:creator>
		<pubDate>Thu, 27 Jul 2017 20:32:47 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-87447</guid>
		<description>Kurde, popsułem to... Tyle się oczytałem u Ciebie o błędach, których nie wolno popełniać a i tak się nie obyło bez nich. Zacząłem ją traktować jak dziewczynę, bez wcześniejszego zapytania się przez nią o związek... Zerwała ze mną niedawno... Ograniczyłem trochę spotkania jak radziłeś, ale nie wszystko się da tak z góry ustalić, bo każdy ma swoje życie (zajęcia, obowiązki itd.). Po rozstaniu zapytałem czy w ogóle uważała mnie za chłopaka, powiedziała, że tak. Zapytałem od kiedy. Odpowiedziała, że odkąd zaczęliśmy chodzić za ręce. Nie wiem co teraz zrobić, czy zapomnieć, czy może czekać aż się odezwie, czy sam po dłuższej przerwie się odezwać. Wyczytałem u Ciebie, że radzisz dać sobie spokój, ale wiesz jak jest - uczucia, emocje. Rozum na razie przegrywa... Zrobiłem już parę głupich rzeczy po rozstaniu.</description>
		<content:encoded><![CDATA[<p>Kurde, popsułem to&#8230; Tyle się oczytałem u Ciebie o błędach, których nie wolno popełniać a i tak się nie obyło bez nich. Zacząłem ją traktować jak dziewczynę, bez wcześniejszego zapytania się przez nią o związek&#8230; Zerwała ze mną niedawno&#8230; Ograniczyłem trochę spotkania jak radziłeś, ale nie wszystko się da tak z góry ustalić, bo każdy ma swoje życie (zajęcia, obowiązki itd.). Po rozstaniu zapytałem czy w ogóle uważała mnie za chłopaka, powiedziała, że tak. Zapytałem od kiedy. Odpowiedziała, że odkąd zaczęliśmy chodzić za ręce. Nie wiem co teraz zrobić, czy zapomnieć, czy może czekać aż się odezwie, czy sam po dłuższej przerwie się odezwać. Wyczytałem u Ciebie, że radzisz dać sobie spokój, ale wiesz jak jest &#8211; uczucia, emocje. Rozum na razie przegrywa&#8230; Zrobiłem już parę głupich rzeczy po rozstaniu.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Grzywocz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-83686</link>
		<dc:creator>Grzywocz</dc:creator>
		<pubDate>Thu, 11 May 2017 05:54:21 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-83686</guid>
		<description>Możliwe, że ona tylko z Tobą tkwi. Drugim wskaźnikiem jest jej zwiększenie częstotliwości spotkań z 1 do 2 tygodniowo. Ostatni filtr to rozmowa o &lt;a href=&quot;http://www.jak-zdobyc-dziewczyne.pl/blog/jak-sprawdzic-czy-dziewczynie-zalezy-i-czy-mnie-kocha/&quot; rel=&quot;nofollow&quot;&gt;wartościach&lt;/a&gt; życiowych. Wysłałem Ci na maila zestaw artykułów o udawanym zainteresowaniu przez rok, przez 8 miesięcy itp. sytuacje, w których dziewczyna tylko zabijała czas. Dowiesz się z nich, jak postępować. W skrócie wycofaj się do 1 spotkania na tydzień i czekaj aż ona spyta o związek. Nie dawaj nigdy związkowej ilości spotkań ani związkowych dni (pt. i sob.) dopóki dziewczyna nie zapyta, co jest między wami.</description>
		<content:encoded><![CDATA[<p>Możliwe, że ona tylko z Tobą tkwi. Drugim wskaźnikiem jest jej zwiększenie częstotliwości spotkań z 1 do 2 tygodniowo. Ostatni filtr to rozmowa o <a href="http://www.jak-zdobyc-dziewczyne.pl/blog/jak-sprawdzic-czy-dziewczynie-zalezy-i-czy-mnie-kocha/" rel="nofollow">wartościach</a> życiowych. Wysłałem Ci na maila zestaw artykułów o udawanym zainteresowaniu przez rok, przez 8 miesięcy itp. sytuacje, w których dziewczyna tylko zabijała czas. Dowiesz się z nich, jak postępować. W skrócie wycofaj się do 1 spotkania na tydzień i czekaj aż ona spyta o związek. Nie dawaj nigdy związkowej ilości spotkań ani związkowych dni (pt. i sob.) dopóki dziewczyna nie zapyta, co jest między wami.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Thomas</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-83661</link>
		<dc:creator>Thomas</dc:creator>
		<pubDate>Wed, 10 May 2017 22:47:32 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-83661</guid>
		<description>Pawle, mam pytanie. Zanim je zadam chcę ci podziękować za wszystko czego się nauczyłem z twoich materiałów. Przedstawię krótko swoją sytuację. Spotykam się z kobietą od ponad 3 miesięcy (czyli spotkaliśmy się już spokojnie ponad 20 razy), oboje mamy 23 lata, chodzimy za rękę, przytulamy się, całujemy (od 3 spotkania). Nigdy nie rozmawialiśmy o tym czy jesteśmy już w związku. Powinienem poruszyć ten ten temat, czy zostawić to i poczekać aż się naturalnie wszystko ułoży?</description>
		<content:encoded><![CDATA[<p>Pawle, mam pytanie. Zanim je zadam chcę ci podziękować za wszystko czego się nauczyłem z twoich materiałów. Przedstawię krótko swoją sytuację. Spotykam się z kobietą od ponad 3 miesięcy (czyli spotkaliśmy się już spokojnie ponad 20 razy), oboje mamy 23 lata, chodzimy za rękę, przytulamy się, całujemy (od 3 spotkania). Nigdy nie rozmawialiśmy o tym czy jesteśmy już w związku. Powinienem poruszyć ten ten temat, czy zostawić to i poczekać aż się naturalnie wszystko ułoży?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: pannica_z_wymaganiami</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-79068</link>
		<dc:creator>pannica_z_wymaganiami</dc:creator>
		<pubDate>Sat, 25 Feb 2017 19:03:47 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-79068</guid>
		<description>Bo robisz ortografy. Nie każdemu pasuje, jak facet nie umie poprawnie napisać dwóch zdań.</description>
		<content:encoded><![CDATA[<p>Bo robisz ortografy. Nie każdemu pasuje, jak facet nie umie poprawnie napisać dwóch zdań.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Grzywocz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-78201</link>
		<dc:creator>Grzywocz</dc:creator>
		<pubDate>Wed, 08 Feb 2017 06:43:32 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-78201</guid>
		<description>Znajomi, którzy by sobie za dużo pomyśleli są do odstrzału. Niepotrzebni są tacy znajomi. Poza tym zawsze możesz powiedzieć, że rozmawiałeś z koleżanką. Zawsze, gdy zagadujesz dziewczynę, to z daleka ma to wyglądać, jakbyś rozmawiał ze znajomą. Nawet, gdyby ona mówiła, że nie ma czasu, to machasz jej na pożegnanie i mówisz: &quot;Dzięki za informację&quot;. 

Mapa sukcesu jest &lt;a href=&quot;http://mp3.jakzdobycdziewczyne.pl/MapaSukcesuJak-Zdobyc-Dziewczyne.pl.pdf&quot; rel=&quot;nofollow&quot;&gt;tutaj.&lt;/a&gt; Najczęściej czytelnicy przerabiają równolegle 77 technik flirtu i Pewność siebie w 90 dni i uzyskują po tym duże postępy. Jak po kolei ćwiczyć technik flirtu opisałem &lt;a href=&quot;http://www.jak-zdobyc-dziewczyne.pl/blog/jak-nauczyc-sie-flirtowac-w-3-prostych-krokach/&quot; rel=&quot;nofollow&quot;&gt;tutaj.&lt;/a&gt; 

W kursie z technikami flirtu podaję sporo historii. Podobnie w artykule &lt;a href=&quot;http://www.jak-zdobyc-dziewczyne.pl/blog/gdy-rozmowa-z-dziewczyna-sie-nie-klei-zawsze-inwestuj-w-rozmowe/&quot; rel=&quot;nofollow&quot;&gt;tutaj.&lt;/a&gt; 

To są proste sprawy, które każdy przeżył, a poza tym można nowe historie opowiadać na podstawie tego, co ostatnio się wydarzyło, np. jaki ostatnio film oglądałeś albo, o czym sobie rozmyślałeś. Można się nauczyć być bardziej refleksyjną i wygadaną osobą. Przy okazji trzeba się czymkolwiek interesować, bo jeśli się tylko ogłupiamy grami i głupotami na necie, to nie ma się co dziwić, że nie potrafimy potem sklecić kilku zdań o tym, o czym myśleliśmy, bo już po prostu nie myślimy. 

Żyjemy wg zasady: &quot;Jestem, więc konsumuję&quot; i takie osoby już nie w stanie myśleć ani opowiadać i są takimi współczesnymi zombiakami.</description>
		<content:encoded><![CDATA[<p>Znajomi, którzy by sobie za dużo pomyśleli są do odstrzału. Niepotrzebni są tacy znajomi. Poza tym zawsze możesz powiedzieć, że rozmawiałeś z koleżanką. Zawsze, gdy zagadujesz dziewczynę, to z daleka ma to wyglądać, jakbyś rozmawiał ze znajomą. Nawet, gdyby ona mówiła, że nie ma czasu, to machasz jej na pożegnanie i mówisz: &#8220;Dzięki za informację&#8221;. </p>
<p>Mapa sukcesu jest <a href="http://mp3.jakzdobycdziewczyne.pl/MapaSukcesuJak-Zdobyc-Dziewczyne.pl.pdf" rel="nofollow">tutaj.</a> Najczęściej czytelnicy przerabiają równolegle 77 technik flirtu i Pewność siebie w 90 dni i uzyskują po tym duże postępy. Jak po kolei ćwiczyć technik flirtu opisałem <a href="http://www.jak-zdobyc-dziewczyne.pl/blog/jak-nauczyc-sie-flirtowac-w-3-prostych-krokach/" rel="nofollow">tutaj.</a> </p>
<p>W kursie z technikami flirtu podaję sporo historii. Podobnie w artykule <a href="http://www.jak-zdobyc-dziewczyne.pl/blog/gdy-rozmowa-z-dziewczyna-sie-nie-klei-zawsze-inwestuj-w-rozmowe/" rel="nofollow">tutaj.</a> </p>
<p>To są proste sprawy, które każdy przeżył, a poza tym można nowe historie opowiadać na podstawie tego, co ostatnio się wydarzyło, np. jaki ostatnio film oglądałeś albo, o czym sobie rozmyślałeś. Można się nauczyć być bardziej refleksyjną i wygadaną osobą. Przy okazji trzeba się czymkolwiek interesować, bo jeśli się tylko ogłupiamy grami i głupotami na necie, to nie ma się co dziwić, że nie potrafimy potem sklecić kilku zdań o tym, o czym myśleliśmy, bo już po prostu nie myślimy. </p>
<p>Żyjemy wg zasady: &#8220;Jestem, więc konsumuję&#8221; i takie osoby już nie w stanie myśleć ani opowiadać i są takimi współczesnymi zombiakami.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Michal</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-78162</link>
		<dc:creator>Michal</dc:creator>
		<pubDate>Tue, 07 Feb 2017 19:22:54 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-78162</guid>
		<description>Mam praktycznie wszystkie Twoje produkty, oprócz tych związkowych bo póki co nie są mi potrzebne. Chcę już na poważnie zacząć robić te wszystkie ćwiczenia jakie są w poszczególnych kursach. Od których proponujesz zacząć? Chętnie popatrzyłbym na schemat czy coś. Oraz czy jakoś je łączyć np. jakieś teksty z kursu konwersacji podczas gdy jestem przy ćwiczeniu na sam komplement do dziewczyny itp, rozumiesz? ;) Ebook-&gt;PSW90+jakieś teksty z kursu konwersacji/tranzycji? Aha, i muszę dodać, że mam problem z kojarzeniem historii, popatrzyłem przed chwilą na te nagrania na temat introwertyzmu i pustki w głowie i jest tam napisane, że do poszczególnej emocji chociaż jedną historyjkę... Powiem szczerze, że nie wiem czy to mi pamięć szwankuje, ale trudno mi sobie przypomnieć historyjki, mimo, że wiem, że ich dużo przeżyłem, jednak nie mogę sobie ich przypomnieć (masło maślane:D). Ogółem proszę o wszelakie rady, wolę jak mnie ktoś pokieruje lub nakieruje, niż żebym sam musiał ogarniać.
Aha i jeszcze pytanie, czy galeria to dobre miejsce na te wszystkie ćwiczenia? Przyznam, że mam 2 galerie w swoim mieście, tzn. tam gdzie się uczę, bo od miasta to ja mieszkam 40km, i jednak trochę mam cykora robić te ćwiczenia w galerii, bo może mnie jakiś znajomy zobaczyć i później wiadomo jak jest...

Pozdrawiam :)</description>
		<content:encoded><![CDATA[<p>Mam praktycznie wszystkie Twoje produkty, oprócz tych związkowych bo póki co nie są mi potrzebne. Chcę już na poważnie zacząć robić te wszystkie ćwiczenia jakie są w poszczególnych kursach. Od których proponujesz zacząć? Chętnie popatrzyłbym na schemat czy coś. Oraz czy jakoś je łączyć np. jakieś teksty z kursu konwersacji podczas gdy jestem przy ćwiczeniu na sam komplement do dziewczyny itp, rozumiesz? <img src='http://www.jak-zdobyc-dziewczyne.pl/wp-includes/images/smilies/icon_wink.gif' alt=';)' class='wp-smiley' />  Ebook-&gt;PSW90+jakieś teksty z kursu konwersacji/tranzycji? Aha, i muszę dodać, że mam problem z kojarzeniem historii, popatrzyłem przed chwilą na te nagrania na temat introwertyzmu i pustki w głowie i jest tam napisane, że do poszczególnej emocji chociaż jedną historyjkę&#8230; Powiem szczerze, że nie wiem czy to mi pamięć szwankuje, ale trudno mi sobie przypomnieć historyjki, mimo, że wiem, że ich dużo przeżyłem, jednak nie mogę sobie ich przypomnieć (masło maślane:D). Ogółem proszę o wszelakie rady, wolę jak mnie ktoś pokieruje lub nakieruje, niż żebym sam musiał ogarniać.<br />
Aha i jeszcze pytanie, czy galeria to dobre miejsce na te wszystkie ćwiczenia? Przyznam, że mam 2 galerie w swoim mieście, tzn. tam gdzie się uczę, bo od miasta to ja mieszkam 40km, i jednak trochę mam cykora robić te ćwiczenia w galerii, bo może mnie jakiś znajomy zobaczyć i później wiadomo jak jest&#8230;</p>
<p>Pozdrawiam <img src='http://www.jak-zdobyc-dziewczyne.pl/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Grzywocz</title>
		<link>http://www.jak-zdobyc-dziewczyne.pl/comment-page-2/#comment-78136</link>
		<dc:creator>Grzywocz</dc:creator>
		<pubDate>Tue, 07 Feb 2017 08:37:53 +0000</pubDate>
		<guid isPermaLink="false">http://jak-zdobyc-dziewczyne.pl/#comment-78136</guid>
		<description>Zobacz także nagrania na temat introwertyzmu i pustki w głowie &lt;a href=&quot;http://jak-zdobyc-dziewczyne.org/teksty-na-podryw-2/introwertyzm-jak-byc-bardziej-rozmownym-i-byc-dobrym-rozmowca/&quot; rel=&quot;nofollow&quot;&gt;tutaj&lt;/a&gt; i &lt;a href=&quot;http://jak-zdobyc-dziewczyne.org/teksty-na-podryw-2/pustka-w-glowie-nie-mam-nic-do-powiedzenia/&quot; rel=&quot;nofollow&quot;&gt;tutaj.&lt;/a&gt;</description>
		<content:encoded><![CDATA[<p>Zobacz także nagrania na temat introwertyzmu i pustki w głowie <a href="http://jak-zdobyc-dziewczyne.org/teksty-na-podryw-2/introwertyzm-jak-byc-bardziej-rozmownym-i-byc-dobrym-rozmowca/" rel="nofollow">tutaj</a> i <a href="http://jak-zdobyc-dziewczyne.org/teksty-na-podryw-2/pustka-w-glowie-nie-mam-nic-do-powiedzenia/" rel="nofollow">tutaj.</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!-- Dynamic page generated in 0.257 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2020-02-21 12:52:31 -->
