@media screen and (max-width: 1560px) {
  /* line 2, ../sass/_tablet.scss */
  html {
    overflow-x: hidden;
    width: 100%;
  }
}
@media screen and (max-width: 1040px) {
  /* line 9, ../sass/_tablet.scss */
  body {
    width: 100%;
    overflow-x: hidden;
  }
  /* line 13, ../sass/_tablet.scss */
  body #footer p {
    width: 100%;
  }
  /* line 17, ../sass/_tablet.scss */
  body #footer .textwidget img {
    width: 50%;
  }
  /* line 20, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(2) {
    margin-right: 0px !important;
    width: 45%;
  }
  /* line 23, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(2) table {
    width: 100% !important;
  }
  /* line 25, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(2) table .SolidBorder {
    width: 95% !important;
  }
  /* line 27, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(2) table .SolidBorder div {
    width: 96% !important;
  }
  /* line 33, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(3) {
    width: 100%;
    margin: 18px 0px;
  }
  /* line 36, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(3) a {
    display: inline-block;
    width: 31%;
    text-align: center;
  }
  /* line 40, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(3) a img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  /* line 52, ../sass/_tablet.scss */
  .custom #comment_list {
    margin-left: 0px !important;
  }

  /* line 55, ../sass/_tablet.scss */
  body {
    width: 100%;
    overflow-x: hidden;
  }
  /* line 58, ../sass/_tablet.scss */
  body #header {
    background-size: 100% 100%;
    height: 120px;
  }
  /* line 62, ../sass/_tablet.scss */
  body .post_box, body .teasers_box {
    margin: 0px;
  }
  /* line 65, ../sass/_tablet.scss */
  body #comment_list, body .comments_intro, body #respond_intro {
    margin-left: 0px !important;
  }
  /* line 68, ../sass/_tablet.scss */
  body .SolidBorder {
    display: block !important;
  }
  /* line 70, ../sass/_tablet.scss */
  body .SolidBorder div {
    display: block !important;
  }
  /* line 74, ../sass/_tablet.scss */
  body #logo a {
    width: 100%;
    height: 100%;
  }
  /* line 78, ../sass/_tablet.scss */
  body .menu a {
    padding: 0.636em 5px;
  }
  /* line 81, ../sass/_tablet.scss */
  body #container {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
  }
  /* line 85, ../sass/_tablet.scss */
  body #container #page #content_box {
    padding: 0px 22px;
    box-sizing: border-box;
  }
  /* line 88, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box, body #container #page #content_box #post-615.post_box {
    margin: 0px;
  }
  /* line 90, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .headline_area, body #container #page #content_box #post-615.post_box .headline_area {
    width: 100% !important;
  }
  /* line 94, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(1), body #container #page #content_box #post-615.post_box .format_text div:nth-child(1) {
    width: 100% !important;
    margin-left: 0px !important;
  }
  /* line 97, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(1) div, body #container #page #content_box #post-615.post_box .format_text div:nth-child(1) div {
    width: 100% !important;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  /* line 103, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(1) div iframe, body #container #page #content_box #post-615.post_box .format_text div:nth-child(1) div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 112, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(2), body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) {
    width: 100% !important;
    margin-right: 0px !important;
  }
  /* line 115, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(2) table, body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) table {
    width: 100%;
  }
  /* line 117, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(2) table .SolidBorder, body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) table .SolidBorder {
    width: 94% !important;
  }
  /* line 119, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(2) table .SolidBorder div, body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) table .SolidBorder div {
    display: block;
    width: 100% !important;
  }
  /* line 126, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(3), body #container #page #content_box #post-615.post_box .format_text div:nth-child(3) {
    display: none;
  }
  /* line 129, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(4), body #container #page #content_box #post-615.post_box .format_text div:nth-child(4) {
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 22px;
  }
  /* line 133, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(4) #scroll3, body #container #page #content_box #post-615.post_box .format_text div:nth-child(4) #scroll3 {
    width: 100% !important;
  }
  /* line 137, ../sass/_tablet.scss */
  body #container #page #content_box #post-1007.post_box .format_text div:nth-child(5), body #container #page #content_box #post-615.post_box .format_text div:nth-child(5) {
    width: 100% !important;
    margin-left: 0px !important;
  }
  /* line 145, ../sass/_tablet.scss */
  body .comment-heading {
    padding: 0px !important;
    margin-top: 20px;
  }
  /* line 149, ../sass/_tablet.scss */
  body #comments {
    margin-right: 0px;
  }
  /* line 152, ../sass/_tablet.scss */
  body #commentform {
    padding: 0px;
    padding-top: 22px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  /* line 158, ../sass/_tablet.scss */
  body #commentform textarea {
    width: 100%;
    box-sizing: border-box;
  }

  /* line 165, ../sass/_tablet.scss */
  body #archive_intro {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 169, ../sass/_tablet.scss */
  body #sidebars {
    width: 25%;
  }
  /* line 171, ../sass/_tablet.scss */
  body #sidebars iframe, body #sidebars img, body #sidebars object {
    width: 100% !important;
  }
  /* line 174, ../sass/_tablet.scss */
  body #sidebars li#text-7 {
    height: auto !important;
  }
  /* line 178, ../sass/_tablet.scss */
  body #sidebars .textwidget table {
    width: 100% !important;
    box-sizing: border-box;
  }
  /* line 183, ../sass/_tablet.scss */
  body #sidebars .sidebar ul.sidebar_list {
    padding: 0px;
  }
  /* line 187, ../sass/_tablet.scss */
  body #sidebars .srp-thumbnail-box img {
    width: auto !important;
  }
  /* line 192, ../sass/_tablet.scss */
  body #content {
    width: 70%;
    float: left;
  }
  /* line 196, ../sass/_tablet.scss */
  body .teasers_box {
    width: 98%;
    box-sizing: border-box;
    margin: 0px;
  }
  /* line 201, ../sass/_tablet.scss */
  body .teaser .format_teaser {
    margin-left: 0px;
  }
  /* line 204, ../sass/_tablet.scss */
  body #content_box {
    background: none;
  }
  /* line 207, ../sass/_tablet.scss */
  body .teaser .format_teaser .post_image_link img {
    width: 50%;
    height: auto;
  }
  /* line 211, ../sass/_tablet.scss */
  body .post .format_text p {
    margin-right: 0px;
    margin-left: 0px;
  }
  /* line 215, ../sass/_tablet.scss */
  body .ois_outer_16 {
    width: 100% !important;
  }
  /* line 218, ../sass/_tablet.scss */
  body .post div {
    max-width: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
  }
  /* line 222, ../sass/_tablet.scss */
  body .post div iframe {
    width: 100%;
  }
  /* line 226, ../sass/_tablet.scss */
  body .post #table28 {
    width: 100%;
  }
  /* line 229, ../sass/_tablet.scss */
  body #container #content_box #content .post_box .format_text div.ois_wrapper {
    width: 100% !important;
  }
  /* line 231, ../sass/_tablet.scss */
  body #container #content_box #content .post_box .format_text div.ois_wrapper div {
    width: 100%;
    position: static;
    padding: 0px;
    height: auto;
  }
  /* line 237, ../sass/_tablet.scss */
  body #container #content_box #content .post_box .format_text div.ois_wrapper div table td div {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  /* line 244, ../sass/_tablet.scss */
  body .dd_outer {
    display: none;
  }

  /* line 249, ../sass/_tablet.scss */
  body #container #page #content_box .post_box div:first-child {
    width: 30% !important;
  }
  /* line 251, ../sass/_tablet.scss */
  body #container #page #content_box .post_box div:first-child table {
    width: 100%;
  }
  /* line 254, ../sass/_tablet.scss */
  body #container #page #content_box .post_box div:first-child table em br {
    display: none;
  }
  /* line 260, ../sass/_tablet.scss */
  body #container #page #content_box .post_box #scroll3 {
    width: 100% !important;
  }

  /* line 265, ../sass/_tablet.scss */
  body.pomoc #container #page #content_box .post_box div {
    width: 100% !important;
    margin-left: 0px !important;
  }
  /* line 268, ../sass/_tablet.scss */
  body.pomoc #container #page #content_box .post_box div table {
    width: 100% !important;
  }

  /* line 274, ../sass/_tablet.scss */
  body.e-book-2 #container #page #content_box .post_box .headline_area {
    width: 100% !important;
  }
  /* line 278, ../sass/_tablet.scss */
  body.e-book-2 #container #page #content_box .post_box table {
    width: 100% !important;
  }

  /* line 283, ../sass/_tablet.scss */
  html {
    overflow: visible;
  }

  /* line 286, ../sass/_tablet.scss */
  body #container #page #content_box .post_box div.headline_area {
    width: 100% !important;
  }

  /* line 290, ../sass/_tablet.scss */
  body #container #page #content_box #post-615.post_box .format_text h2, body #container #page #content_box #post-615.post_box .format_text h3 {
    float: left;
    width: 100%;
  }
  /* line 295, ../sass/_tablet.scss */
  body #container #page #content_box #post-615.post_box .format_text div, body #container #page #content_box #post-615.post_box .format_text div:nth-child(1), body #container #page #content_box #post-615.post_box .format_text div:nth-child(2), body #container #page #content_box #post-615.post_box .format_text div:nth-child(3), body #container #page #content_box #post-615.post_box .format_text div:nth-child(4) {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  /* line 299, ../sass/_tablet.scss */
  body #container #page #content_box #post-615.post_box .format_text div table, body #container #page #content_box #post-615.post_box .format_text div:nth-child(1) table, body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) table, body #container #page #content_box #post-615.post_box .format_text div:nth-child(3) table, body #container #page #content_box #post-615.post_box .format_text div:nth-child(4) table {
    width: 100% !important;
  }
  /* line 301, ../sass/_tablet.scss */
  body #container #page #content_box #post-615.post_box .format_text div table br, body #container #page #content_box #post-615.post_box .format_text div:nth-child(1) table br, body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) table br, body #container #page #content_box #post-615.post_box .format_text div:nth-child(3) table br, body #container #page #content_box #post-615.post_box .format_text div:nth-child(4) table br {
    display: none;
  }
  /* line 307, ../sass/_tablet.scss */
  body #container #page #content_box #post-615.post_box .format_text div:nth-child(2) div {
    display: block !important;
    position: static;
    padding: 0px;
  }
  /* line 314, ../sass/_tablet.scss */
  body #container #page #content_box #post-615.post_box .format_text div:nth-child(4) iframe, body #container #page #content_box #post-615.post_box .format_text div iframe {
    width: 100% !important;
  }
}
@media screen and (max-width: 760px) {
  /* line 324, ../sass/_tablet.scss */
  body .menu li {
    width: 100%;
  }
  /* line 327, ../sass/_tablet.scss */
  body .headline_area h1, body .headline_area h2, body #archive_intro h1 {
    font-size: 18px;
  }
  /* line 330, ../sass/_tablet.scss */
  body #footer .textwidget img {
    width: 100%;
  }
  /* line 333, ../sass/_tablet.scss */
  body #footer .textwidget div:nth-child(2) {
    width: 100%;
    margin-top: 12px;
  }
  /* line 337, ../sass/_tablet.scss */
  body #container #page #content_box {
    padding: 0px 12px;
  }
  /* line 340, ../sass/_tablet.scss */
  body #container #content_box {
    padding: 0px 12px;
  }
  /* line 343, ../sass/_tablet.scss */
  body #container #content_box .post_box .format_text div:nth-child(1), body #container #content_box .post_box .format_text div:nth-child(2), body #container #content_box .post_box .format_text div:nth-child(3), body #container #content_box .post_box .format_text div:nth-child(4), body #container #content_box .post_box .format_text div:nth-child(5) {
    width: 100% !important;
    margin-bottom: 12px;
  }
  /* line 348, ../sass/_tablet.scss */
  body #container #content_box .post_box .format_text div:nth-child(5) img {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: 0px auto 12px auto !important;
  }
  /* line 356, ../sass/_tablet.scss */
  body #container #content_box .post_box .format_text div:nth-child(2) img {
    max-width: 100%;
    height: auto;
  }
  /* line 361, ../sass/_tablet.scss */
  body #container #content_box .post_box .format_text div:nth-child(2) .SolidBorder label {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  /* line 369, ../sass/_tablet.scss */
  body .teaser .format_teaser .post_image_link img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  /* line 374, ../sass/_tablet.scss */
  body #content, body .teasers_box {
    width: 100%;
  }
  /* line 377, ../sass/_tablet.scss */
  body .teaser .format_teaser {
    margin-right: 0px;
  }
  /* line 380, ../sass/_tablet.scss */
  body #sidebars {
    width: 100%;
  }

  /* line 385, ../sass/_tablet.scss */
  body #container #page #content_box .post_box div:first-child {
    width: 100% !important;
    margin-right: 0px !important;
  }

  /* line 389, ../sass/_tablet.scss */
  body #container #page #content_box .post_box img, body #container #page #content_box .post_box iframe {
    max-width: 100%;
    height: auto;
  }

  /* line 393, ../sass/_tablet.scss */
  body #page .format_text {
    overflow: hidden;
  }

  /* line 396, ../sass/_tablet.scss */
  .no_sidebars .post_box {
    margin: 0px;
  }

  /* line 400, ../sass/_tablet.scss */
  body.kontant .format_text table {
    width: 100% !important;
  }

  /* line 404, ../sass/_tablet.scss */
  .teaser, .teaser_right {
    width: 100%;
    float: left;
  }
}
