/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/
.custom #sidebars { border-top: 0 ; background: #FFFFFF; }

.custom .teaser {
   width: 100%;
   margin-top: 2em;
   padding-top: 2em;
   border-top: 1px dotted #bbb;
   text-align: justify;
}
.custom .teasers_box {
   padding-top: 0;
   padding-bottom:0;
   border-top: 0;
}

.custom .teaser { text-align: justify; }

.custom #respond_intro p {display: none;}

.custom .comment-heading { font-size: 2.3em; margin-bottom: -1em; padding: 1em;}

.custom #comment_list { background: #B92233; padding: 1em; }
      .custom #comment_list dd { margin-bottom: 1em; }
      .custom #comment_list .comment { background: #FFF; }

.custom dl#comment_list dt.bypostauthor, .custom dl#comment_list dd.bypostauthor>div { background: #E0E0D3; }

.custom .comment-reply-link { background: #EEE; padding: 0.4em; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/***FOOTER widjet ***/
.custom #footer_area, #footer_area .page{background: #222;}
.custom #footer_area {color: #ccc; padding-top: 0em; text-align:center; border-top: 3px solid #666;}
.custom #footer {border-top:none; text-align:center;}
.custom #footer a:hover {color: #fff; text-decoration: none; }
.custom #footer_1 {text-align:left; border-bottom: 1px solid #333; }
.custom #footer_1 ul.sidebar_list li.widget {text-indent:0; color: #eee; width:47%; margin-right:0%; float:left;}
.custom #footer_1 ul.sidebar_list li.widget h3 {text-indent:0; padding-top:0.2em; color:#ccc; font-size:22px; font-family:georgia;}
.custom #footer_1 ul.sidebar_list li.widget a {color: #fff; border-bottom:0; padding:0.2em;}
.custom #footer_1 ul.sidebar_list li.widget a:hover {color:#ccc; padding:0.2em;}
/***FOOTER END***/

.custom #footer {

Background-color:#111;

}
.custom #container {
    margin-top: 0em;
    margin-bottom: 0em;
    border:0em solid #cebdcf;
}
.custom #page {
    background: #fff;
}
/* code for Author's profile box below the post */
.postauthor {background: #F2F2F2;
&nbsp;border-top: 3px solid #e1e1e0;
&nbsp;border-bottom: 3px solid #e1e1e0;
margin:22px; overflow: hidden; padding: 1.5em;
}
.postauthor img {border: 4px solid #e2dede;
float: left;
&nbsp;margin-right: 1.5em;}
.postauthor h4 {color: #666;
font-size: 2em; margin-bottom: 5px;}
.postauthor p {color: #515151; font-size: 13px;
margin-bottom: 12px;}.postauthor p.hlight {font-size: 11px;
text-transform: uppercase;}.postauthor p.hlight span {color: #CB3131;
font-size: 1.5em; font-style: italic;
font-weight: bold; letter-spacing: 0.8px;}
.custom .postauthor p {
fontsize:15px;}
.custom .postauthor p.hlight{
fontsize:13px;
fontweight:bold }

.custom form#commentform input#submit.form_submit {
background:transparent url('http://jak-zdobyc-dziewczyne.org/wp-content/uploads/2014/08/wyslij.png') 0 0 no-repeat;
width:190px !important; height:42px;
display:block; border:0px; padding:0px;
text-indent:-9999px; line-height:0px;
}

.custom form#commentform input#submit.form_submit:hover {
background-position: -198px 0;
}

.fb_comments { margin:20px; clear:both; }

.nrelate .nr_text { color: #000000 !important; } /* Change color to black */

.nrelate .nr_title { font-size: 1.2em; font-weight: bold; font-family:arial;}

.nrelate .nr_title { color: #B92233 !important; } /* Change color to black */

.nrelate .nr_post_title { font-size: 1.3em; font-family:verdana;}

.nrelate .nr_post_title { color: #0E1DA1 !important; } /* Change color to black */

.nrelate .nr_excerpt { font-size: 1.2em; font-family:tahoma;}

/* COLOR UNSELECTED TABS */
/* second tab unselected background and font color */
.custom .menu .tab-1 a {
	background: #fffc02;
	color: black;
}

/* HOVER COLORS FOR INDIVIDUAL TABS */
/* second tab background and font when the cursor hovers over it */
.custom .menu .tab-1 a:hover {
	background: #E0E0D3;
	color: black;
}

/* CURRENTLY SELECTED TAB */
/* color of the currently selected tab background and font color */
.custom .menu .current a, 
.custom .menu .current-cat a { 
	background: #F5F5F5;
	color: black;
}

/* DROPDOWNS */
/* dropdown background and font color */
.custom .menu .tab-2 .submenu a {
	background: #fffc02;
	color: black;
}


.post .format_text p {
margin-bottom: 1.571em;
margin-left: 50px;
margin-right: 50px;
}

.post .format_text li {
margin-left: 50px;
margin-right: 50px;
}

.post .format_text h2, .post .format_text h3 {
font-size: 1.286em;
line-height: 1.222em;
margin: 1.833em 0 0.611em 0;
margin-left: 20px;
margin-bottom: 25px;
margin-right: 70px;
}

.post .format_text h4 {
font-size: 1em;
margin-left: 20px;
margin-right: 70px;
}

.postauthor em {
display: block;
margin-bottom: 15px;
}

.custom .teasers_box h2 a {
  color: #B92233;
}
.custom .teasers_box h2 a:hover {
  color: #B92233;
  text-decoration: underline;
}

.teaser .format_teaser {
font-size: 1.2em;
line-height: 1.5em;
margin-top: 1.5em;
margin-bottom: 1.5em;
margin-left: 60px;
margin-right: 80px;
}

.teaser h2 {
font-size: 2em;
line-height: 1.3em;
margin-left: 30px;
margin-right: 40px;
}

.teaser .teaser_category {
font-size: 1em;
line-height: 1.6em;
margin-left: 32px;
}

.teaser .format_teaser .post_image_link img.alignleft {
margin-right: 2.75em;
margin-bottom: 0;
}

.teaser .teaser_link {
font-size: 1.2em;
line-height: 1.5em;
margin-left: 235px;
font-weight: bold;
color: black;
}

.comments_intro span.bracket {
color: #ccc;
margin-left: 20px;
}

.custom #comment_list {
background: #B92233;
padding: 1em;
margin-left: 20px;
}

dl#comment_list dd .format_text, dl#comment_list dd #respond {
padding-right: 1.1em;
margin-left: 0px;
margin-right: 80px;
}